

.container-p{
  display: flex;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: 1fr;
  grid-gap: 16px;
  height: 100%;
  padding-right: 10%;
}
.small-p{
  flex: 1;
  margin-right: 80vh;  
}

.big-p{
  flex: 2;
}
.card-body{
  padding-right: 80%;
}
.card{
  padding-right: 80%;
}
