<link rel="stylesheet" href="user-storys.component.css">
<div class="col-md-8 col-lg-6 vstack gap-4">

<!-- Story START -->
<div class="d-flex gap-2 mb-n3" style="padding: 0 39px 0 350px; margin-top: -780px;">
    <div class="position-relative">
        <div
            class="card border border-2 border-dashed h-150px px-4 px-sm-5 shadow-none d-flex align-items-center justify-content-center text-center" style="align-items:center; padding-left: 30%">
            <div>
                <a class="stretched-link btn btn-light rounded-circle icon-md" href="#!"><i
                        class="fa-solid fa-plus"></i></a>
                <h6 class="mt-2 mb-0 small">Post a Story</h6>
            </div>
        </div>
    </div>

    <!-- Stories -->
    <div id="stories"
        class="storiesWrapper stories-square stories user-icon carousel scroll-enable"></div>
</div>
<!-- Story END -->
</div>

 